body{
	background: #1A5276;
   padding: 0;
   margin: 0;

}


.icono{
	font-size: 35px;
	color: black;
	z-index: 1;

	
}


.contenedor-menu{
	background: black;
     height: 500px;
	width: 250px;
	
	visibility: hidden;
	
	z-index: 1;




}


.menu-nav a{
	color: white;
	font-size: 20px;
text-decoration: none;

}
.menu-nav li {
	list-style: none;
	margin: 8px;
	
}
.menu-nav li:hover{
	background: green;
	font-size: 25px;
}
.icono:hover{
	font-size: 40;
	color: black;
	border: 3px solid yellow;
}
.menu-open{
	visibility: visible;
	
	

}
.iconos{
	
	color: yellow;
	
	padding: 3px;
}
@media (min-width: 100px) and (max-width: 1000px){
	.icono{
	left:  90%;
	position: fixed;
	font-size: 70px;
	top: 30px;
	z-index: 1;


    }
  .contenedor-menu{
  	position: fixed;
  	left: 25%;
  	top: 8%

  }
  .titulo{
     position: fixed;
  	font-size: 50px;
  	position: relative;
  	top: 50px;
  	color: black;
    text-align: center;

  	height: 150px;
  	width: 1000px;
  	padding: 0;
  	margin: 0;
  }
 .contenedor-menu{
 	height: 100%;
 	width: 100%;
 } 
div li {
font-size:  90px;
padding: 40px;
}    
.menu-nav a{
	font-size: 38px;
	color: white;
}

.iconos{
	padding: 20px;
}
.paraffo{
 font-size: 50px;
 position: absolute;
 top: 10%;
 color: white;
}
.contenedor{
	position: sticky;
	top: 1px;
	z-index: 1;
}
.imagen1{
	width: 979px;
}
.imagen2{
	width: 979px;
}
.imagen3{
	width: 979px;
}
.video{
height: 525px;
width: 980px;

	
}
.audio{
	height: 70px;
	width: 900px;
}


.derecho {
	color:  white;
	font-size: 50px;
	position: relative;
	top: 10%;
	text-align: center;
}
.cont-nav li{
	font-size: 50px;
	text-align: center;
	padding: 40px;
	
	list-style: none;
}
.cont-nav a{
	color: white;
	text-decoration: none;
}
.iconos1{
	padding: 30px;
}
.final{
background: black;
}
.contenedor{
	background: white;
	width: 979px;
	height: 200px;
	position: fixed;

	
}
.icono:hover{
	background: green;
	
}
}