body{
	background: #1A5276;
   padding: 0;
   margin: 0;

}


.icono{
	font-size: 35px;
	color: black;
	visibility: hidden;

	
}
.contenedor{
	
	background: white;
	position: relative;
     top: 0px;

}
.titulo{
	position: relative;
    text-align:center;
     bottom: 40px;
	
	font-size: 50px;
}


.contenedor-menu{
	border: 3px solid black;
	background: black;
 	position: relative;
 	bottom: 32px;


}

.menu-nav a{
	color: white;
	font-size: 20px;
text-decoration: none;
}

.menu-nav li {
	list-style: none;
	margin: 8px;
	display: inline-block;

	
	
	
}
.menu-nav li:hover{
	background: green;
	
}
.icono:hover{
	font-size: 40;
	color: black;
	border: 3px solid yellow;
}
.iconos{
color: yellow;
padding: 3px;
}

.paraffo{
	text-align: center;
	color: white;
}
.imagen1{
	height:  400px;
	width: 1340px;
}
.imagen2{
  height:  400px;
  width: 1340px;
}
.imagen3{
 height: 400px;
 width: 1340px;

}
.video{
	height: 500px;
	width: 1340px;
}
.audio{
	height: 100px;
	width: 1000px;
}
.final{
	background: black;
	height: 350px;
	width: 100%;
}
.cont-nav a{
	color: white;
	text-decoration: none;
}
.cont-nav li{
	list-style: none;
	margin: 30px;
	text-align: center;
	font-size: 30px;
	position: relative;
	top:50px;
}
.derecho{
	position: relative;
	top: 80px;
	font-size: 20px;
	text-align: center;
}
.iconos{
	margin: 3px;
}
.iconos1{
	margin: 10px;

}


@media (min-width: 300px) and (max-width: 1000px){

	.menu-nav li{
		display: block;
		
		font-size: 150px;
		border: 3px solid white;
		margin: 5px;


	}
	.menu-nav a{
		font-size: 55px;
	}
.contenedor-menu{
	position: fixed;
	left: 30%;
	top: 6%;
	height: 1950px;
	width: 943px;
	visibility: hidden;
	z-index: 1;
	border: 5px solid white;


}


.menu-open{
	visibility: visible;
}


.icono{
	visibility: visible;
	font-size: 70px;
	position: relative;
	left: 90%;
    top: 40px;
    z-index: 1;
}
.contenedor{
	height: 200px;
	width: 1340px;
	background: white;
	position: fixed;
	z-index: 1;
	
}
.paraffo{
	position: relative;
	top: 250px;
}
.iconos{
	margin: 11px;
}
.titulo{
	font-size: 70px;
	position: relative;
	bottom: 50px;
}
.paraffo{
	font-size: 60px;


}
.imagen1{
	height: 950px;
	width: 500px,
}
.imagen2{
	height: 950px;
	width: 500px,
}
.imagen3{
	height: 950px;
	width: 500px,
}
.video{
	height: 600px;
	width: 1330px;
}
.audio{
	width: 1330px;
}


.final{
	height: 1000px;
	width: 1350px;
}
.cont-nav a{
	font-size: 70px;
	margin: 10px;
}
.cont-nav li{
	margin: 40px;
}
.derecho{
	font-size: 60px;
	position: relative;
    top: 18%;
}
.letra{
	position: relative;
	left: 20%;

}
}